<div>
  <mat-form-field>
    <mat-label>select a department</mat-label>
    <mat-select [(value)]="selectedDepartment" (selectionChange)="onDepartmentSelected($event)">
      <mat-option *ngFor="let dept of departments" [value]="dept.departmentId">{{ dept.departmentName }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-table [dataSource]="ds">
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="givenname">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.firstName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef>Phone No</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.phoneNumber }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
